
@{
    ViewBag.Title = "Dashboard";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Dashboard</h2>
    </header>

    <!-- start: page -->

    <!-- end: page -->
</section>