<footer class="footer-first">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 links-con">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="">home</a>
                        <a href="">about</a>
                        <a href="">treatments</a>
                        <a href="">practitioners</a>
                        <a href="">contact</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="">bioregulatory medicine</a>
                        <a href="">recent features</a>
                        <a href="">testimonials</a>
                        <a href="">patient forms</a>
                        <a class="btn button footer-btn" href="">Download Form</a>
                        <a class="btn button footer-btn" href="">Online Form</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 soc-con">
                <div class="social-block py-4">
                    <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-xl-4 logo-con">
                <div action="/leads/contact/sendmessage" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#MessageCont2" id="contactForm" method="post">
                    <input type="hidden" name="FirstName" id="FirstName">
                    <input type="hidden" name="LastName" id="LastName">
                    <input type="hidden" name="PhoneNumber" id="PhoneNumber">
                    <input type="hidden" name="Note" id="Note">
                    <div class="row" id="MessageCont2">
                        <div class="col-sm-8 px-2 pr-sm-0">
                            <div class="form-group">
                                <input type="text" class="form-control required" name="EmailAddress" id="EmailAddress" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-sm-4 text-center px-2 pl-sm-0">
                            <button type="submit" class="btn button">Send Email</button>
                        </div>
                    </div>
                </div>
                <a href="" class="footer-logo">
                    <img src="~/Content/images/logo-white.png" alt="Biomedic Clinic">
                </a>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-second">
    <div class="container">
        <p><a href="/terms-of-use/">Terms of Use</a> | <a href="/privacy-policy/">Privacy Policy</a></p>
        <p class="mb-0">Powered by <a href="https://www.struix.co" target="_blank">Struix</a></p>
    </div>
</footer>