<footer class="footer-first">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 links-con">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/">home</a>
                        <a href="/about/">about</a>
                        <a href="/treatments/">treatments</a>
                        <a href="/practitioners/">practitioners</a>
                        <a href="/contact/">contact</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/bioregulatory-medicine/">bioregulatory medicine</a>
                        <a href="/recent-features/">recent features</a>
                        <a href="/testimonials/">testimonials</a>
                        <a href="/patient-forms/">patient forms</a>
                        <a class="btn button footer-btn" href="">Download Form</a>
                        <a class="btn button footer-btn" href="https://www.bioregmed.com/march%202010.html">Online Form</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 soc-con">
                <div class="social-block py-4">
                    <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-xl-4 logo-con">
                <a href="" class="footer-logo">
                    <img src="~/Content/images/logo-white.png" alt="Biomedic Clinic">
                </a>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-second">
    <div class="container">
        <p><a href="/terms-of-use/">Terms of Use</a> | <a href="/privacy-policy/">Privacy Policy</a></p>
        <p class="mb-0">Powered by <a href="https://www.struix.co" target="_blank">Struix</a></p>
    </div>
</footer>