<footer class="footer-first">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 links-con">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/">home</a>
                        <a href="/about/">about</a>
                        <a href="/treatments/">treatments</a>
                        <a href="/practitioners/">practitioners</a>
                        <a href="/contact/">contact</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/bioregulatory-medicine/">bioregulatory medicine</a>
                        <a href="/recent-features/">recent features</a>
                        <a href="/testimonials/">testimonials</a>
                        <a href="/patient-forms/">patient forms</a>
                        <a class="btn button footer-btn" href="/pdfdownload/download">Download Form</a>
                        <a class="btn button footer-btn" href="https://www.bioregmed.com/march%202010.html">Online Form</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 soc-con">
                <div class="social-block py-4">
                    @Html.Action("GetSocialMedia", "CMS")
                </div>
            </div>
            <div class="col-xl-4 logo-con">
                <h4 class="text-white">sign up for our newsletter</h4>
                <form action="/leads/contact/subscribe" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#MessageCont2" id="contactForm2" method="post">
                    <input type="hidden" name="Note2" id="Note2" value="Email Subscription">
                    <div class="row" id="MessageCont2">
                        <div class="col-sm-8 pr-sm-0">
                            <div class="form-group">
                                <input type="text" class="form-control required" name="EmailAddress2" id="EmailAddress2" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-sm-4 text-center pl-sm-0">
                            <button type="submit" class="btn button">subscribe</button>
                        </div>
                    </div>
                </form>
                @*<a href="/" class="footer-logo">
                        <img src="~/Content/images/logo-white.png" alt="Biomedic Clinic">
                    </a>*@
            </div>
        </div>
    </div>
</footer>
<footer class="footer-second">
    <div class="container">
        <p>Biomedic &copy; 1994-@DateTime.Now.Year All rights protected by Biomedic Centre&reg; | <a href="/terms-of-use/">Terms of Use</a> | <a href="/privacy-policy/">Privacy Policy</a></p>
        <p class="mb-0">Powered by <a href="https://www.struix.co" target="_blank">Struix</a></p>
    </div>
</footer>

@Html.Raw(EUCookies.Consent.Instance.Install())