<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=BiomedicClinicDatabase;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL6009.site4now.net;Initial Catalog=DB_A412C8_biomedicclinic;User Id=DB_A412C8_biomedicclinic_admin;Password=kreten123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=sql6009.site4now.net;Initial Catalog=DB_A62C5D_biomedic;User Id=DB_A62C5D_biomedic_admin;Password=biomedic99;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTPS Rule behind AWS Elastic Load Balancer Rule" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}{URL}" redirectType="Found" />
        </rule>
        <rule name="Redirect http://biomedic.co.uk to http://www.biomedic.co.uk HTTP" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*"></match>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^biomedic.co.uk$"></add>
            <add input="{HTTPS}" pattern="off"></add>
          </conditions>
          <action type="Redirect" url="https://www.biomedic.co.uk/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
        </rule>
        <rule name="Redirect 1" stopProcessing="true">
          <match url="^in_practice.html" />
          <action type="Redirect" url="/about/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 2" stopProcessing="true">
          <match url="^treatment.html" />
          <action type="Redirect" url="/treatments/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 3" stopProcessing="true">
          <match url="^regenerative treatment.html" />
          <action type="Redirect" url="/treatments/regenerative/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 4" stopProcessing="true">
          <match url="^prevention.html" />
          <action type="Redirect" url="/treatments/preventive/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 5" stopProcessing="true">
          <match url="^evolution.html" />
          <action type="Redirect" url="/treatments/aesthetic/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 6" stopProcessing="true">
          <match url="^about_practitioners.html" />
          <action type="Redirect" url="/practitioners/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 7" stopProcessing="true">
          <match url="^location.html" />
          <action type="Redirect" url="/contact/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 8" stopProcessing="true">
          <match url="^how.html" />
          <action type="Redirect" url="/bioregulatory-medicine/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 9" stopProcessing="true">
          <match url="^hallmarks.html" />
          <action type="Redirect" url="/bioregulatory-medicine/principles/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 10" stopProcessing="true">
          <match url="^what.html" />
          <action type="Redirect" url="/bioregulatory-medicine/practice/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 11" stopProcessing="true">
          <match url="^features.html" />
          <action type="Redirect" url="/recent-features/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 12" stopProcessing="true">
          <match url="^press.html" />
          <action type="Redirect" url="/recent-features/press-release/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 13" stopProcessing="true">
          <match url="^publications.html" />
          <action type="Redirect" url="/recent-features/publications/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 14" stopProcessing="true">
          <match url="^video.html" />
          <action type="Redirect" url="/recent-features/videos-and-media/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 15" stopProcessing="true">
          <match url="^testimonialsgeneral.html" />
          <action type="Redirect" url="/testimonials/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 16" stopProcessing="true">
          <match url="^testimonialspatients.html" />
          <action type="Redirect" url="/testimonials/patients/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 17" stopProcessing="true">
          <match url="^testimonialsstudents.html" />
          <action type="Redirect" url="/testimonials/students/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 18" stopProcessing="true">
          <match url="^termsconditions.html" />
          <action type="Redirect" url="/terms-of-use/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 19" stopProcessing="true">
          <match url="^privacypolicy.html" />
          <action type="Redirect" url="/privacy-policy/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 20" stopProcessing="true">
          <match url="^about_us.html" />
          <action type="Redirect" url="/about/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect 21" stopProcessing="true">
          <match url="^index.html" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <add name="SitemapXml" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- 15MB maxAllowedContentLength, for IIS, in bytes 30728640 -->
        <requestLimits maxAllowedContentLength="30728640" />
      </requestFiltering>
    </security>
    <staticContent>
      <clear />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpg" />
      <mimeMap fileExtension=".png" mimeType="image/jpg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpg" />
      <mimeMap fileExtension=".tif" mimeType="image/jpg" />
      <mimeMap fileExtension=".gif" mimeType="image/jpg" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
      <mimeMap fileExtension=".xml" mimeType="text/xml" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/x-web-app-manifest+json" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".json" mimeType="application/ld+json" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>